/* navbar start */
@media only screen and (max-width: 991px){
    .header nav .navbar-toggler
    {
        border: none;
    }

    .header nav .navbar-toggler:focus 
    {
        box-shadow: none;
        outline: none;
    }

    .header nav form .menu-bar 
    {
        display: none;
    }
}
/* navbar end */