@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body 
{
    font-family: "Nunito", sans-serif;
    background-color: #f9f9f9;
}

/* Navbar Start */
.header  
{
    background: white;
    border-radius: 20px;
}

.header .navbar-brand img 
{
    width: 50px;
}

#navbarSupportedContent ul li a 
{
    font-size: 0.9rem;
}

.header .input-sec input:focus 
{
    box-shadow: none;
    outline: none;
    border: none;
}

.header form .menu-bar 
{
    background: orange;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-left: 20px;
}
/* Navbar End */



/* Hero sec start */
.hero-sec .button-sec button 
{
    background-color: #6E40FF;
}
/* Hero sec End */


/* categories start */
.categories-sec .card-sec 
{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

.categories-sec .card 
{
    position: relative;
}

.categories-sec .overlay-sec {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 2px 16px;
    background: rgba(0, 0, 0, 0.2); 
    backdrop-filter: blur(20px);
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
}

.categories-sec .overlay-sec p 
{
    position: relative;
    top: 10px;
}
/* categories End */



/* stories start */
.stories .card .card-body 
{
    padding-bottom: 111px;
}
/* stories End */